<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="well bs-component">
        <form class="form-horizontal"{{action "submit" on="submit"}}>
          <fieldset>
            <legend>Sign Up</legend>
            <div class="form-group">
              <label for="firstname" class="col-lg-2 control-label">First Name</label>
              <div class="col-lg-10">
                {{input value=user.firstname type="text" class="form-control" placeholder="John" id="user-firstname"}}
              </div>
            </div>
            <div class="form-group">
              <label for="lastname" class="col-lg-2 control-label">Last Name</label>
              <div class="col-lg-10">
                {{input value=user.lastname type="text" class="form-control" placeholder="Smith" id="user-lastname"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                {{input value=user.email type="text" class="form-control" placeholder="Email" id="user-email"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                {{input value=user.password type="password" class="form-control" placeholder="Password" id="user-password"}}
              </div>
            </div>
            <div class="form-group">
             <label for="textArea" class="col-lg-2 control-label">Bio</label>
             <div class="col-lg-10">
               {{textarea input class="form-control" value=user.bio placeholder="Tell us about yourself"}}
             </div>
           </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
