<br>

<div class="jumbotron jumbotron-fluid inner-page">
  <div class="container">
    <h1 class="display-3 text-center">{{building.name}}</h1>
    <h3 class="lead text-center"></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="text-center">Residents</h3>
        </div>
      <div class="panel-body">
        <div class="panel panel-default">
          <ul class="list-group">
            {{#each building.users as |user|}}
              <li class="list-group-item">{{user.firstname}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      </div>
    </div>

  <div class="col-md-9">
    <h2 class="text-center primary-text">{{building.name}} is located at {{building.address}}.</h2>
    <div class="text-center">
      <br>
      <button class="btn btn-lg btn-success" {{action 'join' building}}>Join Residence</button>
      <button class="btn btn-lg btn-primary"{{action 'leave' building}}>Leave Residence</button>
    </div>
  </div>
</div>
</div>
<br>
<br>
