
{{show-navbar session=model user=user}}

<br>
<br>

<div class="jumbotron jumbotron-fluid inner-page">
  <div class="container">
    <h1 class="display-3 text-center">Hey {{model.firstname}}!</h1>
    <h3 class="lead text-center">Here's what's happening</h3>
  </div>
</div>
 

<div class="container">
  <div class="row">
    <div class="col-md-4">
    {{showAll-topics building=currentBuilding onSubscribe="addSubscription"}}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">My Rezzies</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
                {{#each model.buildings as |building|}}
                <li class="list-group-item">
                  <a href="#" {{action 'showMore' building}}>
                    {{building.name}}
                  </a>
                </li>
                  
                {{/each}}
              </ul>
          </div>
        </div>
  </div>

  <div class="col-md-8">
  {{show-buzz building=currentBuilding}}
    
      
    
   
{{outlet}}
</div>
</div>
</div>




