{{show-navbar session=model}}
<br>
<br>

<div class="jumbotron jumbotron-fluid inner-page">
  <div class="container">
    <h1 class="display-3 text-center">Hi, {{model.firstname}} {{model.lastname}}</h1>
    <h3 class="lead text-center">What's happening at The{{#each model.buildings as |building|}}
      {{building.name}}?
      {{/each}}
    </h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Your subscriptions for {{model.building.name}} </h3></div>
            <div class="panel-body">
              Panel content
            </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Select different building</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
  </div>


  <div class="col-md-9">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="title text-center">The Buzz</h3>
      </div>
      <div class="panel-body">
        <div class="panel panel-default">
  <!-- Each subscription and its messages -->
          <div class="panel-heading title">Maintenance</div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Message 1</li>
                <li class="list-group-item">Message 2</li>
                <li class="list-group-item">Message 3</li>
                <li class="list-group-item">Message 4</li>
              </ul>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>

{{outlet}}
</div>
